/* -------------------------

Styles for search component

--------------------------- */
/* .search_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    width: 100%;
    flex-grow: 0;
    background-color: #1d1c28;
}*/

.search_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 75%;
    margin: 0.15rem;
    border: 0.5px solid #d4d4d4;
}

.search_component {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    z-index: 8000;
    background-color: #fff;
}

.search_component input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    max-width: 98%;
    width: 100%;
    border: none;
    font-family: var(--body-primary);
    font-size: 0.8rem;
    font-weight: 400;
    position: relative;
    background-color: transparent;
    z-index: 3000;
    color: #0a0a0a;
    height: 3rem;
}

#searchIcon {
    max-width: 10%;
    width: 100%;
}



/* ----------------------

Dropdown / results

---------------------- */

.search_results_dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    align-items: flex-start;
    width: 90vw;
    min-height: 30vh;
    overflow: scroll;
    /* */
    position: absolute;
    z-index: 8999;
    top: 90%;
    left: 0%;
    /* */
    margin-top: 0.75rem;
    padding: 0 0.25rem;
    /* */
    background-color: #ffffffd9;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.23);
}

.search_result_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #2d2d2d;
    font-family: var(--body-primary);
    list-style-position: outside;
    max-width: 99%;
    /* space for bullet */
}

.search_result_list li {
    font-size: 0.9rem;
    line-height: 1.25;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    list-style: none;
    padding-left: 0.5em;
    /* shift text inside */
    text-indent: 0em;
    /* brings first line back */
}

/* --- --- --- --- ---
global
--- --- --- --- --- --- */

@media only screen and (min-width: 740px) {


    .search_container {
        align-self: center;

        max-width: 35%;
        margin-right: 0.25rem;
    }


    .search_results_dropdown {
        margin-top: 2rem;
        max-width: 45vw;
    }
}

/* 
@media only screen and (min-width: 740px) {}

@media only screen and (min-width: 740px) {} */